{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": false,
        "shippedProposals": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-loadable/babel",
    "dynamic-import-webpack",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "shared"
      }
    ],
    "transform-class-properties"
  ]
}