.primaryButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #006fb7;
  border: 1px solid #006fb7;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  height: 30px;
  padding: 0 15px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.primaryButton:hover {
  color: #fff;
  background-color: #006fb7;
}
